body{
    background: url("../images/ggcDorms.jpeg") no-repeat fixed center center / cover  rgba(0, 0, 0, 0);
}

#header {
    text-align: center;
}

#dashboardWelcomeMessage {
    width: 90%;
    margin: auto;
}

#form {
    text-align: center;
    width: 500px;
    background-color: lightgreen;
}

select{
    width: 170px;
}

.error, #error_message {
    color: red;
    padding-left: 5px;
    display: inline;
    vertical-align: top;
    font-size: 16px;
}

#error_message {
    position: fixed;
    left: 20px;
    top: 10px;
    width: 200px;
    z-index: 1;
}


#applicant_gender, #work_habits, #sleep_habits, .inline {
    display: inline;
}

#adminContainer {
    width: 1000px;
}

#adminContainer #menu {
    width: 100px;
    float: left;
    background-color: white;
    height: 300px;
    margin: 30px 20px;
    text-align: start;
    list-style: none;
    padding: 0px 10px;
}

#adminContainer #menu li {
    padding: 10px 5px;
}

#adminContainer #menu li:hover {
    color: white;
    background-color: grey;
    cursor: pointer;
}
#adminContainer #menu p {
    text-align: center;
}

#adminContainer #content {
    width: 800px;
    margin: 20px 20px;
    background-color: white;
    float: right;
    height: 400px;
}

#applicationStatus, #newApplication, #somethingElse {
    display: none;
}

#adminContainer #content form {
    margin-top: 15px;
}

.work_habbits_label, .sleep_habits {
    margin: 0px 20px 0px 0px;
    color:#444;
    display:block;
    font-size:100%;
    line-height:1.4em;
    padding:4px 0 5px;
    width:90%;
}

#navbar ul {
   margin: 0;
   padding: 5px;
   list-style-type: none;
   text-align: center;
   background-color: #000;
   height: 35px;
}

#navbar ul li {
   display: inline;
}

#navbar ul li a {
   text-decoration: none;
   padding: .2em 1em;
   color: #fff;
   background-color: #000;
   font-size: 2em;
}

#navbar ul li a:hover {
   color: #000;
   background-color: #fff;
}

.adminPanel {
    display: none;
}
